*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.container{
    min-height: 600px;
    max-width: 380px;
    background-color: hsl(0, 0%, 12%);
    color: white;
    border-radius: 1rem;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.container img{
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.container button{
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 20%);
    color: #E8E8E8;
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.p-two{
    margin-bottom: 25px;
    color: #C5C5C5;
    font-weight: 600;
    font-size: 13px;
}
.p-one{
    margin-bottom: 25px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;

}

.container h2{
    margin-bottom: 10px;
    color: #FFFFFF;
}

.container button:active{
    background-color:hsl(75, 94%, 57%);
    color: black;
}

@media (width <= 375px) {
    .container{
        margin-right: 20px;
        margin-left: 20px;
    } 
    .container button{
        width: 270px;
    }
}


